@model TravelAgency.Models.AppointmentDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>تفاصيل المعاد</h4>

<div>
    
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            الميعاد
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Appointment.Title)
        </dd>
        <dt class="col-sm-2">
            الفرع
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branch.Title)
        </dd>
        <dt class="col-sm-2">
            وقت المغادره
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LeaveTime)
        </dd>
        <dt class="col-sm-2">
            السعر
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AppointmentDetailId" class="btn btn-success">تعديل</a>
    <a asp-action="Index" class="btn btn-info">العوده الى القائمه</a>
</div>
